/* .bannersubclass3>img{
        width: 200px;
        padding: 10px;
        margin-right: 50px;
} */

imagecontainer {
  display: flex;
  border: 2px solid rgb(228, 218, 218);
  width: 100vw;
  border-top: none;
}
.mainImage {
  height: 100px;
  width: 100px;
  border: 2px solid rgb(250, 243, 243);
}

.maincontainer {
  border: 2px solid rgb(236, 229, 229);
  margin: 1%;
  margin-top: 3%;
  padding: 1%;
}
